
<div [ngClass]="{'bgWhite': checkStatus(postloveIts) === 'neutre',
                'bgGreen' : checkStatus(postloveIts) === 'positif',
                'bgRed' : checkStatus(postloveIts) === 'négatif'}">
    <div class = postTitle>{{ postName }} 
    </div>
    <div class = postDate>{{ postcreated_at | date:'dd/MM/yyyy, hh:mm a'}}
    </div>
    <p class = postCorps>{{ postContent }} 
    </p>
    <button class=postButtonGreen 
    [disabled]="!isAuth"
    (click)="clickLove()">I love it</button>
    <button class=postButtonRed
    [disabled]="!isAuth"
    (click)="clickUnLove()">I do not love it !</button>
</div>