/* You can add global styles to this file, and also import other style files */
.row{
    margin: 50px;
}
.bloc-title{
    margin-bottom: 20px;
}
.title{
    font-family: arial;
    font-size: xx-large;
    font-weight: bold;
    display:inline;
}



.bgGreen {
    background-color: lightgreen;
    margin-bottom: 2%;
}

.bgRed {
    background-color: lightcoral;
    margin-bottom: 2%;
}

.bgWhite {
    background-color: white;
    margin-bottom: 2%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
